h1 {
    text-align: center;
    font-family: 'Julius Sans One';
}

header {
    background-color: inherit;
    font-family: 'Julius Sans One';
}

figcaption {
    color: grey;
    font-size: x-small;
}

#logo {
    color: rgb(232, 128, 0);
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 20px;
}

#recentPostTitle {
    font-size: 1.5em;
}

body {
    background-image: url('Jupiter-A-Mind-of-Limits.jpg');
    background-size: cover;
    background-position: center;
    background-color: #cccccc;
}

#mainPageImage {
    height: 150px;
}

#quote {
    color: whitesmoke;
    background-color: inherit;
    font-family: 'Jura', sans-serif;
    position: absolute;
    top: 60%;
    left: 10%;
}

/* @media (min-width=500px) {
    body{
        background-position: left;
        background-size: contain;
    }
    #quote {
        color: whitesmoke;
        background-color: inherit;
        font-family: 'Jura', sans-serif;
        position: absolute;
        top: 60%;
        left: 10%;
    }
} */
#postLink {
    text-decoration: none;
    color: black;
}

#tagsHeader, #emailListHeader {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 10px;
}

#recentPostsHeader {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-size: large;
    letter-spacing: 10px;
    background-color: white;
    margin-bottom: -35px;
    padding-bottom: 25px;
    padding-top: 25px;
}

#tagsWrapper {
    color: white;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: linear-gradient(45deg, #6955c395, #88203daa);
    margin-top: -20px;
    margin-bottom: -15px;
}

/* -------full scale version of grid on recent posts section ------*/
#recentPostsWrapper {
    background-color: white;
    margin-bottom: -15px;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    max-width: 100%;
    justify-content: space-around;
}

#recentPost1Wrapper {
    padding: 2%;
    margin-left: 10px;
    margin-right: 10px;
    border: solid;
    border-color: darkgray;
    box-shadow: -10px 10px 15px .3px rgba(114, 114, 114, 0.459);
    border-width: .5px;
    border-radius: 8px;
    flex-wrap: wrap;
    width: fit-content;
    height: fit-content;
}

#recentPost2Wrapper {
    padding: 2%;
    border: solid;
    border-color: darkgray;
    box-shadow: -10px 10px 15px .3px rgba(114, 114, 114, 0.459);
    border-width: .5px;
    border-radius: 8px;
    width: fit-content;
    flex-wrap: wrap;
    background-color: white;
}

#recentPost3Wrapper {
    padding: 2%;
    border: solid;
    border-color: darkgray;
    box-shadow: -10px 10px 15px .3px rgba(114, 114, 114, 0.459);
    border-width: .5px;
    border-radius: 8px;
    width: fit-content;
    flex-wrap: wrap;
    background-color: white;
    
}

#recentPost1Wrapper:hover {
    background-color: rgba(211, 211, 211, 0.309);
}

#recentPost2Wrapper:hover {
    background-color: rgba(211, 211, 211, 0.309);
}

#recentPost3Wrapper:hover {
    background-color: rgba(211, 211, 211, 0.309);
}

#tagsList {
    font-family: 'Hubballi', cursive;
}

#tagsList button {
    color: black;
    background-color: white;
    /* font-weight: bold; */
    border: none;
    border-radius: 12px;
    margin: 3px;
}

#tagsList button:hover {
    background-color: whitesmoke;
}

#emailListWrapper {
    margin-top: -20px;
    background-color: white;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left: 5%;
}

#footerTextWrapper {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

footer {
    background-color: rgb(90, 90, 90);
    color: rgb(209, 209, 209);
}

/* -----------------------nav bar--------------------------------- */
nav {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 60px;
    font-size: 20px;
    align-items: center;
}

.listItem {
    font-family: 'Julius Sans One', sans-serif;
    background-color: inherit;
    color: white;
    border-style: none;
    letter-spacing: 1px;
}

.listItem a {
    color: white;
}

nav .listItem:hover {
    text-decoration: underline;
}

@media (min-width: 500px) {

    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    body {
        background-size: cover;
    }

    #mainPageImage {
        height: 450px;
    }

    #recentPostTitle {
        font-size: 2em;
    }

    /* #recentPostsWrapper {
        background-color: white;
        margin-bottom: -15px;
        padding-top: 2%;
        padding-bottom: 2%;

        display: grid;
        grid-template-columns: 100px 400px 400px 400px 100px;
        grid-template-rows: auto;
        grid-gap: 40px;
    }

    #recentPost1Wrapper {
        padding: 2%;
        border: solid;
        border-color: darkgray;
        box-shadow: -10px 10px 15px .3px rgba(114, 114, 114, 0.459);
        border-width: .5px;
        border-radius: 8px;
        grid-column: 2/3;
        width: 400px;
        height: fit-content;
    }

    #recentPost2Wrapper {
        padding: 2%;
        border: solid;
        border-color: darkgray;
        box-shadow: -10px 10px 15px .3px rgba(114, 114, 114, 0.459);
        border-width: .5px;
        border-radius: 8px;
        width: 400px;
        grid-column: 3/4;
        background-color: white;
    }

    #recentPost3Wrapper {
        padding: 2%;
        border: solid;
        border-color: darkgray;
        box-shadow: -10px 10px 15px .3px rgba(114, 114, 114, 0.459);
        border-width: .5px;
        border-radius: 8px;
        width: 400px;
        grid-column: 4/5;
        background-color: white;
    } */
}