* {
    padding-left: 3%;
    padding-right: 3%;
}

#logo {
    color: rgb(232, 128, 0);
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 3px;
}

#navWrapper {
    text-align: center;
}

#navWrapper button {
    background-color: inherit;
    color: white;
    border-color: white;
    border-style: none;
    font-size: small;
    letter-spacing: 1px;
    padding-right: 8%;
}

#navWrapper button:hover {
    text-decoration: underline;
}

#postWrapper, h1, h2, h3 {
    font-family: 'Julius Sans One', sans-serif;
}

#postWrapper p {
    font-family: 'Hubballi', cursive;
    font-size: larger;
}

figcaption {
    font-family: sans-serif;
    color: rgb(171, 171, 171);
}

#otherPostsHeader {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-size: large;
    letter-spacing: 10px;
}

main {
    padding-top: 10%;
    display: flex;
}

#postDetails {
    background-image: linear-gradient(45deg, #6955c395, #88203daa);
    
}