h1 {
    text-align: center;
    font-family: 'Julius Sans One';
}

header {
    background-color: black;
    font-family: 'Julius Sans One'; 
}

figcaption {
    color: grey;
    font-size: x-small;
}

#logo {
    color: rgb(232, 128, 0);
    background-color: black;
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 3px;
}

#footerTextWrapper {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#footerWrapper {
    flex-shrink: 1 0;
    color: rgb(209, 209, 209);
    background-color: rgb(90, 90, 90);
}

/* -----------------------nav bar--------------------------------- */
nav {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    min-height: 35px;
    align-items: center;
}

.listItem {
    font-family: 'Julius Sans One', sans-serif;
    background-color: inherit;
    color: white;
    border-style: none;
    letter-spacing: 1px;
}

.listItem a {
    color: white;
}

nav .listItem:hover {
    text-decoration: underline;
}

#imageContainer {
    padding-left: 8%;
    width: 400px;
    /* width: 80%; */
    display: flex;
    flex-wrap: wrap;
    /* grid-gap: 10px;
    grid-template-columns: 400px;
    grid-template-rows: auto;
    justify-content: center; */
}

#img1{
    flex: 1 1 auto;
    /* grid-column-start: 1;
    grid-column-end: 2; */
    border-radius: 8%;
}

#img2 {
    /* grid-column-start: 2; */
    /* grid-column-end: 3;
    grid-row-start: 2/3; */
    flex: 1 1 auto;
    border-radius: 8%;
}

#img3 {
    flex: 1 1 auto;
    border-radius: 4%;
} 

@media (min-width: 500px) {

    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    body {
        background-size: cover;
    }

    #mainPageImage {
        height: 300px;
    }

    #recentPostTitle {
        font-size: 2em;
    }
    
    #imageContainer {
        padding-left: 8%;
        width: 80%;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 400px 400px 400px;
        grid-template-rows: auto;
        justify-content: center;
    }
    
    #img1{
        width: 400px;
        grid-column-start: 1;
        grid-column-end: 2;
        border-radius: 8%;
    }
    
    #img2 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2/3;
        border-radius: 8%;
    }
    
    #img3 {
        width: 800px;
        border-radius: 4%;
    }
}

