
main {
    padding-left: 3%;
    padding-right: 3%;
}

#logo {
    color: rgb(232, 128, 0);
    font-family: 'Julius Sans One', sans-serif;
    text-decoration: none;
    font-weight: bolder;
    letter-spacing: 3px;
}

nav {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: fit-content;
    font-size: 20px;
    align-items: center;
}

.listItem {
    font-family: 'Julius Sans One', sans-serif;
    background-color: inherit;
    color: black;
    border-style: none;
    letter-spacing: 1px;
}

.listItem a {
    color: black;
    text-decoration: none;
}

nav .listItem:hover {
    text-decoration: underline;
}

#MarsAPI {
    border: solid;
    padding-top: 2%;
    padding-bottom: 2%;
}

#navWrapper button:hover {
    text-decoration: underline;
}

article, h1, h2, h3, p {
    font-family: 'Julius Sans One', sans-serif;
}

img {
    width: 300px;
} 

* {
    flex-direction: column;
}

@media (min-width: 600px) {

    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    * {
        flex-direction: row;
    }
    article p {
        font-family: 'Hubballi', cursive;
        font-size: larger;
        width: 500px;
    }
    
    figcaption {
        font-family: sans-serif;
        color: rgb(171, 171, 171);
        width: 600px;
    }
    
    #otherPostsHeader {
        text-align: center;
        font-family: 'Julius Sans One', sans-serif;
        font-weight: bold;
        font-size: large;
        letter-spacing: 10px;
    }
    
    main {
        padding-top: 10%;
        display: flex;
        padding-left: 3%;
        padding-right: 3%;
    }
    
    #postDetails {
        background-image: linear-gradient(45deg, #6955c395, #88203daa);
        width: 200px;
        color: white;
        padding-right: 3%;
        margin-right: 3%;
    }
    
    #postDetails ul {
        font-family: 'Source Code Pro', monospace;
    }
    
    img {
        width: 600px;
    }
    
}